@model List<Enfant>
@{
     ViewData["titre"] = @Locals["Title"];

}
<section id="list_favourite" class="container ">
    <h1 class="title_favourite"> @Locals["Title"]</h1>
    <p class="nombre_favoris"> @Locals["Desc1"] <span class="fw-bold">@Model.Count </span>  @Locals["Desc2"]</p>
    <table class="table details_table">
        <thead>
            <tr>
                <th scope="col"> @Locals["Image"]</th>
                <th scope="col"> @Locals["NameMovie"]</th>
                <th scope="col">Statut</th>
                <th scope="col"> @Locals["Delete"] </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             

                <tr>
                    <td scope="row"><img src="@item.ImageURL" alt=""></td>
                    <td>
                        @item.Nom
                       
                    </td>
                    <td>
                        @item.Parent.Nom

                    </td>
                    <td>
                        @*<a href="~/Enfant/detail"><button class="button_detail">Plus details</button></a>*@

                            <form asp-controller="Favoris" asp-action="SuprrimeUnEnfant" method="POST">
                                <input type="hidden" name="id" value="@item.Id" />
                            <button class="button_ajout text-black" type="submit"> <i class="fa-sharp fa-solid fa-heart"></i>@Locals["Delete"]</button>
                            </form>
                          
                    </td>
                </tr>
              
            }
        </tbody>
    </table>
    <div class="col-5">
        <a class="btn btn-secondary " asp-action="Index"><i class="fa-solid fa-circle-arrow-left"></i>&nbsp;&nbsp;@Locals["BackToList"]</a>
    </div>
</section>

@*<div class="modal js-modal">
    <div class="modal_container js-modal-container">
        <div class="modal_close js-modal-close">
            <i class="fa-solid fa-x"></i>
        </div>
        <div class="modal_quetion">
            Est ce-que vous voulez retirer sur vos favoris?
        </div>
        <button class="btn button_oui">OUI</button>
        <button class="btn button_non">NON</button>

    </div>
</div>
<script>
    const addBtns = document.querySelectorAll('.js-btn-ajout')
    const modal = document.querySelector('.js-modal')
    const modalClose = document.querySelector('.js-modal-close')
    const modalContainer = document.querySelector('.js-modal-container')
    function showAddFavourite() {
        modal.classList.add('open')
    }
    function hideAddFavourite() {
        modal.classList.remove('open')
    }
    for (const addBtn of addBtns) {
        addBtn.addEventListener('click', showAddFavourite)
    }

    modalClose.addEventListener('click', hideAddFavourite)

    modal.addEventListener('click', hideAddFavourite)
    modalContainer.addEventListener('click', function (event) {
        event.stopPropagation()
    })
</script>*@